<div class="socials sidebar__socials">
    <ul class="socials__list">
        <li class="socials__item">
            <a rel="nofollow" class="socials__link" href="https://www.youtube.com/channel/UCAYjCAuXJkTUXWa0RZ4lGDQ">
                <svg class="svg-icon socials__icon" role="img" title="youtube">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#youtube"></use>
                </svg>
            </a>
        <li class="socials__item">
            <a rel="nofollow" class="socials__link" href="https://vk.com/ranpress35">
                <svg class="svg-icon socials__icon" role="img" title="vk">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#vk"></use>
                </svg>
            </a>
        </li>
        <li class="socials__item">
            <a rel="nofollow" class="socials__link" href="https://www.instagram.com/ranpress/">
                <svg class="svg-icon socials__icon" role="img" title="instagram">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram"></use>
                </svg>
            </a>
        </li>
        <li class="socials__item">
            <a rel="nofollow" class="socials__link" href="https://www.facebook.com/Региональное-агентство-новостей-292526961353469">
                <svg class="svg-icon socials__icon" role="img" title="facebook">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook"></use>
                </svg>
            </a>
        </li>
        <li class="socials__item">
            <a rel="nofollow" class="socials__link" href="https://wa.me/79005433311">
                <svg class="svg-icon socials__icon" role="img" title="whatsapp">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#whatsapp"></use>
                </svg>
            </a>
        </li>
        <li class="socials__item">
            <a rel="nofollow" class="socials__link" href="viber://chat?number=79005433311">
                <svg class="svg-icon socials__icon" role="img" title="viber">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#viber"></use>
                </svg>
            </a>
        </li>
        <li class="socials__item">
            <a rel="nofollow" class="socials__link" href="https://t.me/ranpress">
                <svg class="svg-icon socials__icon" role="img" title="telegram">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#telegram"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>