{% extends 'base.html.twig' %}

{% block main %}
    {% include 'default/_breadcrumbs.html.twig' %}

    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-8 single-news">
                <h1 class="page__title">Контакты</h1>
                {% if sent_message %}
                	<p class="alert alert-success">Ваше сообщение отправлено</p>
                {% endif %}
                {{ form_start(form, {'attr': {'action': 'form__input form__input--line--single'}}) }}
				    <div class="my-custom-class-for-errors">
				        {{ form_errors(form) }}
				    </div>
				    <div class="form__group">
					    {{ form_label(form.name, 'Мое имя и фамилия', {'label_attr': {'class': 'form__label'}}) }}
					    {{ form_widget(form.name, {'attr': {'class': 'form__input form__input--line--single'}}) }}
					    <div class="form-error">
					        {{ form_errors(form.name) }}
					    </div>
					</div>
					<div class="form__group">
					    {{ form_label(form.email, 'Email*', {'label_attr': {'class': 'form__label'}}) }}
					    {{ form_widget(form.email, {'attr': {'class': 'form__input form__input--line--single'}}) }}
					    <div class="form-error">
					        {{ form_errors(form.email) }}
					    </div>
					</div>
					<div class="form__group">
					    {{ form_label(form.subject, 'Тема', {'label_attr': {'class': 'form__label'}}) }}
					    {{ form_widget(form.subject, {'attr': {'class': 'form__input form__input--line--single'}}) }}
					    <div class="form-error">
					        {{ form_errors(form.subject) }}
					    </div>
					</div>
					<div class="form__group">
					    {{ form_label(form.text, 'Я пишу*', {'label_attr': {'class': 'form__label'}}) }}
					    {{ form_widget(form.text, {'attr': {'class': 'form__input form__input--line--multi'}}) }}
					    <div class="form-error">
					        {{ form_errors(form.text) }}
					    </div>
					</div>
					<div class="form__group  text-right">
					    {{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
					</div>
				{{ form_end(form) }}

				{% set static = render(controller('FrontendBundle:Default:getStaticContent', {'page': 'contacts_block'}))|json_decode %}

				{% if static['contacts_block'] is defined and static['contacts_block'].description is not empty %}
				    <section>
			            <div class="static-content">
			                {{ static['contacts_block'].description|raw }}
			            </div>
				{% endif %}
			
            </div>

            <aside class="col-12 col-lg-4 sidebar sidebar--with-padding">
                {% include 'default/_sidebar_socials.html.twig' %}
                {{ render(controller('BannerBundle\\Controller\\Frontend\\BannerController::getBannerAction', {'type': 'aside_page', 'page': 'news_feed'})) }}
                {{ render(controller('FrontendBundle\\Controller\\DefaultController::initSidebarBannerAction')) }}
                {{ render(controller('FrontendBundle\\Controller\\DefaultController::initSidebarNewsAction')) }}
            </aside>
        </div>
    </div>

    <section class="bnnr-section">
        <div class="container">
            <a rel="nofollow" class="bnnr bnnr--small"
               style="background-image: linear-gradient(to right, #1D9CD8, #194382)">
            </a>
        </div>
    </section>
{% endblock %}