{% if news|length > 0 %}
    <a href="{{ path('frontend_news_list') }}">
        <h3 class="page__sub-subtitle">
            Лента новостей
        </h3>
    </a>
    <div class="last-news">
        <ul class="last-news__list">
            {% for item in news %}
                {% set newsCategory = item.newsCategory %}

                {% if newsCategory %}
                    {% set url = path('frontend_news_show_with_category', {
                        'slug': item.translations[item.defaultLocale].slug,
                        'category':  newsCategory.translations[newsCategory.defaultLocale].slug
                    }) %}
                {% else %}
                    {% set url = path('frontend_news_show', {
                        'slug': item.translations[item.defaultLocale].slug
                    }) %}
                {% endif %}

                {% if loop.first %}
                    <li class="last-news__item news-item">
                        {% if newsCategory is not null %}
                            <a rel="nofollow" class="news-item__img-wrap lazy-container" href="{{ url }}">
                                <img class="b-lazy news-item__img"
                                     data-src="{{ asset(item.poster|json_decode['324x235']|default(asset('bundles/upload/images/no-image-400.png'))) }}"
                                     alt="{{ item.translate.posterAlt }}">
                            </a>
                            <a class="label news-item__label" href="{{ path('frontend_news_category_show', {
                                'category': newsCategory.translations[newsCategory.defaultLocale].slug
                            }) }}">
                                {{ newsCategory.translate.title }}
                            </a>
                        {% else %}
                            <a class="news-item__img-wrap lazy-container" href="{{ url }}">
                                <img class="b-lazy news-item__img"
                                     data-src="{{ asset(item.poster|json_decode['324x235']|default(asset('bundles/upload/images/no-image-400.png'))) }}"
                                     alt="{{ item.translate.posterAlt }}">
                            </a>
                        {% endif %}

                        <div class="d-flex">
                            <time class="news-item__date news-date" timestamp="">
                                {#{{ item.publishAt|localizeddate('short', 'none', 'ru') }}#}
                                {{ item.publishAt|date('Y.m.d H:i') }}
                            </time>
                            <a class="news-item__title" href="{{ url }}">
                                {{ item.translate.title }}
                            </a>
                        </div>

                        {% if item.translate.shortDescription is not empty %}
                            <p class="news-item__text">
                                {{ item.translate.shortDescription|truncate(120) }}
                            </p>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="last-news__item news-item">
                        <div class="d-flex">
                            <time class="news-item__date news-date" timestamp="">
                                {#{{ item.publishAt|localizeddate('short', 'none', 'ru') }}#}
                                {{ item.publishAt|date('Y.m.d H:i') }}
                            </time>
                            <a class="news-item__title" href="{{ url }}">
                                {{ item.translate.title }}
                            </a>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}