<div class="js-collection-widgets">
    <div id="{{ field.vars.id }}" {% if field|length > 0 %}class="form-group"{% endif %}
            {% if prototype_template is not null %}
        data-prototype="{% filter escape %}{{ include(form.vars.prototype_template, { 'form': field.vars.prototype }) }}{% endfilter %}"
    data-widget-tags="{{ '<div class="row"></div>'|e }}"{% endif %}>
        {% if field|length > 0 %}
            {% for valueField in field %}
                <div class="collection-elements row">
                    {% include prototype_template with{'form': valueField.children} %}
                </div>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit kt-margin-10"></div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% if allow_add == true %}
    <div class="form-group form-group-marginless kt-margin-t-20 row">
        <div class="col-lg-4">
            <div class="btn btn-sm btn-outline-brand btn--icon">
                <span title="{{ 'ui.add.add_new_entry'|trans([], 'DashboardBundle') }}">
                    <i class="la la-plus"></i>
                    <span class="add-another-collection-widget" data-list="#{{ field.vars.id }}">
                        {{ 'ui.add.add_new_entry'|trans([], 'DashboardBundle') }}
                    </span>
                </span>
            </div>
        </div>
    </div>
{% endif %}