{% set divClass = '' %}
{% set class = '' %}

{% if field.vars.data is null and field.vars['required'] == true or field.vars.valid == false %}
    {% set divClass = divClass ~ ' ' ~ 'validated validate is-invalid' %}
    {% set class = 'is-invalid' %}
{% endif %}

<div class="form-group form-group-marginless kt-margin-t-20 {{ divClass }} row">
    {{ form_label(field, label|default(null), {'label_attr': {'class': labelLg~ ' col-form-label'}}) }}
    <div class="{{ divLg }}">
        <div class="input-group date">
            {{ form_widget(field, {'attr': {
                'class': 'form-control js-date-time-picker',
                'readonly': 'readonly'
            }}) }}
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="la la-calendar glyphicon-th"></i>
                </span>
            </div>
        </div>
        {% if form_errors(field) is empty and field.vars.help_block is defined and field.vars.help_block is not null %}
            <span class="form-text text-muted">
             {{ field.vars.help_block }}
            </span>
        {% elseif form_errors(field) is not empty %}
            <div class="error invalid-feedback">
                {{ form_errors(field) }}
            </div>
        {% endif %}
    </div>
</div>