<div class="col-lg-2">
    {% if loop.parent.loop is defined %}
        {% set iterator = loop.parent.loop.index ~'_'~loop.index %}
    {% else %}
        {% set iterator = loop.index %}
    {% endif %}

    {% if choices is not iterable %}
        <label class="kt-checkbox">
            {{ form_widget(form[name]) }}
            {% if form[name].vars.data == false %}
                {{ form[name].vars.label }}
            {% else %}
                {{ form[name].vars.label|trans([], choice_translation_domain) }}
            {% endif %}
            <span></span>
        </label>
    {% else %}
        {% for key,choice in choices %}
            {% if class(choice) == 'ChoiceView' %}
                <label class="kt-checkbox">
                    {{ form_widget(form[key]) }}
                    {% if form[key].vars.data == false %}
                        {{ form[key].vars.label }}
                    {% else %}
                        {{ form[key].vars.label|trans([], choice_translation_domain) }}
                    {% endif %}
                    <span></span>
                </label>
            {% elseif class(choice) == 'ChoiceGroupView' %}
                {% include '@Dashboard/default/crud/form/fields/_helper_for_dashboard_select2_widget_expanded.html.twig' with {
                    'name': choice.label,
                    'choices': choice.choices,
                } %}
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit kt-margin-10"></div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>