{% include '@Seo/frontend/_h1.html.twig' %}

{% if form_errors(form.email) %}
    {% if form_errors(form.email) is not empty %}
        {{ form_errors(form.email) }}
    {% endif %}
{% endif %}

{% include 'user/reset/_password_reset_form.html.twig' %}

<a rel="nofollow" href="{{ path('registration') }}">
{{ 'ui.create.create_an_account'|trans([], 'UserBundle') }}
</a>

<a rel="nofollow" href="{{ path('security_login') }}">
{{ 'ui.login_button'|trans([], 'UserBundle') }}
</a>

{% include 'user/security/_login_as_user.html.twig' %}
